*{box-sizing: border-box;}


:root
{
    --sliderHeight: 600px;
}

body
{
    font-family: "Segoe UI";
    height: 100vh;
    margin: 0;
}


.gross
{
    position: relative;
    overflow: hidden;
}
.sliderContainer
{
    width: 99999px;
    height: var(--sliderHeight);
    background-color: #ddd;
    transition: transform 1s;
}

.slide
{
    width: 100vw;
    height: 100%;
    float: left;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}
.slide h1
{
    font-size: 3em;
}
.slide span
{
    font-size: 1.4em;
}

#slidePrev, #slideNext
{
    position: absolute;
    color: white;
    font-size: 2.3em;

    top: calc(var(--sliderHeight) / 2);
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    width: 1.7em;
    height: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
#slidePrev:hover, #slideNext:hover
{
    background-color: rgba(46, 46, 46, 0.4);
}

#slidePrev
{
    left: 30px;
}
#slideNext
{
    right: 30px;
}

#progress
{
    width: 0;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 0;
    bottom: 0;
}

.animation
{
    animation: breite 5s linear infinite;
}

@keyframes breite
{
    0% { width: 0; }
    100% { width: 100%; }
}
